<% @events.each { |event| %>
  <div class="event">
      <h3 class="heading"><%= event.title %> (<%= event.date.strftime('%-m/%-d/%Y') %>, 7pm) with
          <%= event.presenters.collect { |presenter| presenter.name }.join (" and ") %></h3>

      <p><%= event.description %></p>

      <% event.presenters.each { |presenter| %>
          <% unless presenter.bio == nil || presenter.bio.empty? %>
              <h3 class="heading">About <%= presenter.name %>!</h3>

              <p><%= presenter.bio %></p>
          <%  end %>
      <% } %>

  </div>

<% } %>
