<% if @event %>
<div class="row-fluid">
    <div class="span12">
        <div class="event">
            <h3 class="heading"><%= @event.title %> (<%= @event.date.strftime('%-m/%-d/%Y') %>, 7pm) with <%= @event.presenters.collect { |presenter| presenter.name }.join (" and ") %>, at <a href="<%= @event.location %>"><%= @event.location_name %></a></h3>

            <p><%= @event.description %> You can RSVP <a href="<%= @event.event_link %>">here</a>, if you would like some free food!</p>

            <% @event.presenters.each { |presenter| %>
                <% unless presenter.bio == nil || presenter.bio.empty? %>
                    <h3 class="heading">About <%= presenter.name %>!</h3>

                    <p><%= presenter.bio %></p>
                <%  end %>
            <% } %>

            <p>We are sponsored by <a href="http://detroitlabs.com/">Detroit Labs</a>, who will be buying us food!</p>

        </div>

    </div>
</div>
<% end %>

<div class="row-fluid index-footer">
    <div class="about span4">
        <h3 class="heading">About Us!</h3>

        <p>We're a group of programmers who meets up to talk about anything related to programming, usually with an
            emphasis on TDD and clean code! Anything that helps us learn, grow, and teach with regards to software. We
            meet the first Tuesday of every month at 7:00pm. We also have a
            <a href="http://groups.google.com/group/craftsman-guild">Google Group</a> if you'd like to join!</p>
    </div>
    <div class="donate span4">
        <h3 class="heading">Sponsors</h3>

        <p>Craftsman Guild is sponsored by <a href="http://detroitlabs.com/">Detroit Labs</a>. Without their generous
            contributions, Craftsman Guild wouldn't be cozy experience we all know and love. Thank you, Detroit Labs!
        </p>
    </div>
    <div class="twitter span4">
        <a class="twitter-timeline" href="https://twitter.com/CraftsmanGuild" data-widget-id="304022224862593024">Tweets
            by @CraftsmanGuild</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    </div>
</div>
